.global_block{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	min-height: 1200px;
	/*min-width: 5%;*/
	margin: 0 auto;
	/*margin-right: auto;*/
	position: relative;
	overflow: hidden;

	padding-right: 20px;
	padding-left: 20px;
	background-color: #E8E0E0;
	border-radius: 10px;

}

.global_block_2{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	/*min-width: 5%;*/
	margin: 0 auto;
	/*margin-right: auto;*/
	position: relative;
	/*transform: translate(-50%, -50%);  при изменении окна оставляет блок по центру.*/ 


	padding-right: 20px;
	padding-left: 20px;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.global_block_3{
	display: inline-block;
	vertical-align: top;
	max-width: 20%;
	min-height: 1200px;
	/*min-width: 5%;*/
	margin: 0 auto;
	/*margin-right: auto;*/
	position: relative;
	float: right;
	overflow: hidden;

	padding-right: 20px;
	padding-left: 20px;
	background-color: #E8E0E0;
	border-radius: 10px;

}

body{
	margin: 0;
	background-color: #FFFFFF;
}

header{
	position: relative;
	background: url(../img/pilt2_kultuurikeskus.jpg);
	background-size: 2000px 450px;
	background-position: center;
	padding-bottom: 300px;
	margin-bottom: 10px;




}

.text_header{
	position: absolute; /*для блока, изменяемого внутри блока c position relativ*/
	padding-left: 350px;
	padding-top: 200px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: Arial;

	/*width: inherit;
	height: inherit; как у родителя*/

}

.div_header{
	position: relative;
	display: inline-block;
	font-family: Arial;
	float: right;
	padding-left: 1000px;
	margin-right: 180px;
	padding-top: 100px;
	/*filter: blur(5px);*/


}

.div_header_text{
	color: #FFFFFF;
	font-size: 17px;

	/*background-color: rgb(0,0,0);*/
	background-color: rgba(0,0,0, 0.3); /*делает полупрозрачный фон за текстом*/
	color: white;
	font-weight: bold;

} 


.text{
	font-family: Arial;
	text-align: justify; /*выравнивание по сторонам*/
	display: block;
	font-size: 20px;
	width: 1200px;

	text-indent: 20px; /* отступ первой строки*/
	white-space: normal;
	
}

.text2{
	/*display: block;*/
	font-size: 20px;
	width: 20px;
	color: #FFFFFF;
	/*padding-bottom: 200px;*/
	padding-left: 500px;

	}




.dws_menu ul,
.dws_menu ol {
	list-style: none;

	}
	.dws_menu > ul{
		display: flex;
		justify-content: center;
	}

	.dws_menu > ul li a{
		display: block;
		padding: 15px 30px 15px 40px;
		text-decoration: none;
		color: #FFFFFF;
		font-weight: bold;
		background-color: rgba(0,0,0, 0.3);

	}

	.dws_menu li ul {
		position: absolute;
		display: none;


	}
	.dws_menu li> ul li{
		border: 1px;

	}
	.dws_menu li:hover > ul{
		display: block;
		font-weight: bold;
		color: #080000;
	}

	.fa-fa-{

	}