.global_block{
	display: inline-block;
	vertical-align: top;
	width: 15%;
	/*min-height: 600px;*/
	height: 600px;
	
	margin: 0;
	position: relative;
	overflow-y: scroll;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #F5F5F0;
	border-radius: 10px;

	/*margin-right: auto;*/
	/*min-width: 5%;*/

}



.global_block_2{
	display: inline-block;
	vertical-align: top;
	width: 55%;
	margin: 0 auto;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #FFFFFF;
	border-radius: 10px;

	/*margin-right: auto;*/
	/*min-width: 5%;*/
	/*transform: translate(-50%, -50%);  при изменении окна оставляет блок по центру.*/ 

}

.global_block_3{
	display: inline-block;
	vertical-align: top;
	width: 12%;
	min-height: 600px;
	
	margin: 0 auto;
	margin-right: 5px;
	position: relative;
	float: right;
	/*overflow: scroll; */
	padding-right: 20px;
	padding-left: 20px;
	background-color: #F5F5F0;
	border-radius: 10px;

	/*min-width: 5%;*/
	/*margin-right: auto;*/


}

body{
	margin: 0;
	background-color: #FFFFFF;
}

header{
	position: relative;
	background: url(../img/pilt2_kultuurikeskus.jpg);
	background-size: 2000px 450px;
	background-position: center;
	padding-bottom: 300px;
	margin-bottom: 10px;




}

.text_header{
	position: absolute;    /*для блока, изменяемого внутри блока c position relativ*/
	padding-left: 350px;
	padding-top: 200px;
	color: #FFFFFF;
	font-size: 50px;
	font-family: Arial;

	/*width: inherit;
	height: inherit; как у родителя*/

}

/*.div_header{
	position: relative;
	display: inline-block;
	height: 10px;
	font-family: Arial;
	float: right;
	padding-left: 200px;
	margin-right: 180px;
	padding-top: 0px;
	background-color: rgba(0,0,0, 0.2);

	/*filter: blur(5px);*/


}

.div_header_text{
	color: #FFFFFF;
	font-size: 17px;

	background-color: rgba(0,0,0, 0.2); /*делает полупрозрачный фон за текстом*/
	color: white;
	font-weight: bold;

} 


.text{
	font-family: Arial;
	text-align: justify; /*выравнивание по сторонам*/
	display: block;
	font-size: 20px;
	width: 1250px;

	text-indent: 20px; /* отступ первой строки*/
	white-space: normal;
	
}

.text2{
	font-family: Arial;
	font-size: 17px;
	width: 20px;
	text-align: justify;
	float: right 5px;
	
	/*padding-bottom: 200px;
	padding-left: 500px; */

	} 


	header nav{
  float: top left;
  padding-left: 320px;
}

header .sub-menu{
  display: none;
  padding: 0;
  left: 0;
  top: 37px;
  background-color: #f3f3f3;
  position: absolute;
  
}

header .sub-menu li{
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 0;
  
}

header nav li{
  display: inline-block;
  padding-right: 40px;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  background-color: #112589;
  background-color: rgba(0,0,0, 0.25);
  

}

header nav li a{
    padding: 10px 30px;
    display: block;
    /*color: #BE3939;*/
    text-decoration: none;
    transition: 0.3s;
    color: #FFFFFF;   /*цвет текста*/
}

header nav li a:hover{
  background-color: #4131DF; /*подсветка при наведении*/
  width: 200px;

  
}

header nav li:hover .sub-menu{
  display: block;
  background-color: #8998F5; /*подложка выпадающего меню*/

  
}

section h3{
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  

}

section p {
  font-size: 20px; 

}

.foto_rusici{
	position: relative;
	width: 800px;
	height: 500px;
	padding-left: 160px;	
	
}

.card-photo_block1 {
	/*position: absolute;
	width: 70px;
	height: 0px;
	/*margin: 0 auto;*/
	margin-left: 5px;
	margin-right: 20px;
	font-family: Times New Roman;
	text-align: justify;
	

	}

	.footer{
		position: relative;
		text-align: center;
		width: 100%;
		height: 200px;
		margin: 0 auto;
		margin-top: 125px;
		padding-bottom: 25px;

		color: #FFFFFF;
		font-size: 30px;
  	font-weight: bold;
  	background-color: #383855;
  	/*background-color: rgba(0,0,0, 0.25);*/
		
	}

	.logo{
		position: relative;
		display: inline;
		width: 125px;
		height: 60px; 
	}

	footer a {
		color: #FFFFFF;
		font-size: 20px;
		margin-left: 20px;
	}

/*задаём эффект изменения при наведении
	footer nav a:hover {
		border-bottom: 1px solid blue;
		color: red;

	}
	*/

	.bottom{
		font-size: 15px;
	}

	